.App{
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  min-height: 100vh;

}

.heading__Style{
  margin-bottom: -210px;
}

.main__Body{
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: -150px;
}

.column__Style{
  height: 100px;
  width: 100px;
  border: 0.1px whitesmoke;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
